.main_div{
    margin-top: 130px;
    gap: 30px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.form_div{
    display: flex;
    background-color: darkslateblue;
    align-items: center;
    align-content: center;
    padding: 4% 2% 4% 2%;
    border-radius: 10px;
}
.form{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   color: white;
   width: 22em;;
  
}
.form_1{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   color: white;
   width: 22em;;
  
}
input{
    width: 22em;
    height: 50px;
    border: 4px solid skyblue;
    border-radius: 5px;
    outline: none;
}
textarea{
    width: 22em; 
    border-radius: 5px;
    border: 4px solid skyblue;
    outline: none;
}
.but{
    width: 100px;
}

